

body {
    background-image: linear-gradient(#0E1555, #FD367E);
}

#título {
    text-align:center;
    color: rgb(184, 0, 0)
}

#logo {
    position: left;
    width:100px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
}


li {
    float:left;
    list-style:none;
    padding-right: 50px;  
    
  }

  .cabecera a:hover {
    background-color: rgb(124, 152, 212);
    margin-top: 20px;              
}

nav {
text-shadow: 3px 3px 3px rgb(151, 127, 140);
float:right;   

}

#lista {
color:rgb(81, 4, 116);
font-family:'Franklin Gothic Medium',  
}

li:hover a {
color: rgb(119, 88, 20);
margin-bottom: 50px;
text-shadow: gray;
}

header {

background-image: radial-gradient(orange, rgba(255, 0, 0, 0.534));

border-radius: 20px;
font-size: 20px;
}

section {
    position:relative;
    top:2em;
    left: 22em;
    margin-left: 20px;
   
    border-style: double;
    border:solid 2px black;
    margin:10px;
    width:50%;
    box-shadow: 0px 0px 5px grey;
    border-radius: 30px;
    background: radial-gradient( #202020);
    border:solid 20px rgba(0, 0, 0, 0.288); 
    
}

#acercadenosotros {
    color:rgb(247, 247, 247);
    text-shadow: 3px 3px 3px rgb(158, 81, 123);
    text-align: center;

}

h2 {
    color:black;
    text-align: center;
}

h3 {
    color:black;
    text-align: center;
    font-size: 20px;
}

p {
    color:black;
    text-align: center; 
    font-size: 20px;
}

/*FOTOS*/

#imagen1 {
    
    bottom: 6em;
    width:350px;
    float:left;
    position:relative;
   
    right:18em;
    border:3px solid darkgreen;
    transform: rotate(-6deg);
}

#imagen2 {
    width: 350px;
    float:right;
    position:relative;
    bottom: 6em;
    left: 18em;
    border:3px solid darkgreen;
    transform: rotate(6deg);
 }

div.galeriafoto {
    margin: auto;
 
    border-radius: 10px;
}

div.galeriafoto img {
    border-radius: 10px;   
}

div.galeria.hover{
    border:1px solid darkgreen;
    
}

/*FOOTER*/

#enlace {
    color:blue;
}

footer {
    right:0px;
    padding:10px;
    background-color: black;
    background-position: left;
    color:white;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom:0;
    z-index: -3;
}

