* {
    
}

body {
    background-image: linear-gradient(#0E1555, #FD367E);
    
}
#título {
    text-align:center;
    color: rgb(184, 0, 0)
}

#logo {
    position: left;
    width:100px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
}


li {
    float:left;
    list-style:none;
    padding-right: 50px;  
    
  }

  .cabecera a:hover {
    background-color: rgb(124, 152, 212);
    margin-top: 20px;              
}

nav {
text-shadow: 3px 3px 3px rgb(151, 127, 140);
float:right;   

}

#lista {
color:rgb(81, 4, 116);
font-family:'Franklin Gothic Medium',  
}

li:hover a {
color: rgb(119, 88, 20);
margin-bottom: 50px;
text-shadow: gray;
}

header {

background-image: radial-gradient(orange, rgba(255, 0, 0, 0.534));

border-radius: 20px;
font-size: 20px;
}

/*TABLA SERVICIO*/

.contenedor{
    width: 90%;
    max-width: 900px;
    margin:auto;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    /*flex-wrap:wrap;*/
}

.tabla{
    background-color: #d1420093;
    width: 33%;
    height:500px;
    margin: auto;
    border: 1px solid #343759;
    border-radius:10px;
    box-shadow: 0px 0px 4px 0px #343759;
    flex-grow: 1;
    text-align: center;
    padding:60px;
    color:#000000;
}

.tabla>h2{
    display: block;
    font-size: 30px;
    margin-bottom: 35px;
}

.tabla img{
    width:64px;
    margin-bottom:35px;
}

.tabla > h3{
    font-size:30px;
    margin-bottom:20px;
}

.tabla > p{
    display: block;
    margin-bottom: 20px;
}

.boton{
    display:inline-block;
    width: 150px;
    padding: 12px;
    background: #132500;
    text-decoration: none;
    color:#d6d0d0;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600px;
    margin: auto;
}

.tabla:hover{
    background: #343759;
    color: #f1f1f2;
    transition: .5s all;
    transform: scale(1.1);
    cursor:pointer;
}

@media screen and (max-width:1000px) {
    .tabla{
        width:45%;
        max-width: none;
        margin-bottom: 40px;
        flex-grow: initial;
    }
    
    
}

@media screen and (max-width:700px) {
    .tabla{
        width:45%;
        padding:30px;
    }
    .tabla > h2{
        margin-top: 40px;
    }
    
}

@media screen and (max-width:550px) {
    .tabla{
        width:85%;
        padding:20px;
    }
  
}
/*PIE DE PAGINA*/
footer {
    right:0px;
    padding:10px;
    background-color: black;
    background-position: left;
    color:white;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom:0;
    
}

#foot {
    position: absolute;
    padding-left: 170px;
    display: block;
    text-align: left;
}

#copy {
    text-align: right;
    padding-right: 120px;
}
