body {
    background-image: linear-gradient(#0E1555, #FD367E);
}


/*cabecera*/

#título {
    text-align: center;
    color: rgb(184, 0, 0)
}

#logo {
    position: left;
    width: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
}


li {
    float: left;
    list-style: none;
    padding-right: 50px;
}

.cabecera a:hover {
    background-color: rgb(124, 152, 212);
    margin-top: 20px;
}

nav {
    text-shadow: 3px 3px 3px rgb(151, 127, 140);
    float: right;
}

#lista {
    color: rgb(81, 4, 116);
    font-family: 'Franklin Gothic Medium',
}

li:hover a {
    color: rgb(119, 88, 20);
    margin-bottom: 50px;
    text-shadow: gray;
}

header {

    background-image: radial-gradient(orange, rgba(255, 0, 0, 0.534));

    border-radius: 20px;
    font-size: 20px;
}

caption {
    font-weight: bold;
    font-style: italic;
}

th,
td {
    text-align: center;
    border-bottom: 1px solid #999;
    width: 15%;
}

table {

    overflow: visible;
    background-image: radial-gradient(orange, rgba(255, 0, 0, 0.534));
    letter-spacing: 1px;
    border-spacing: 3px;
    display: block;
    font-size: large;
    position: relative;
    width: 80%;
    top: 100px;
    border-style: double;
    border: solid 20px rgba(0, 0, 0, 0.288);
    left: 8em;
    border-radius: 30px;
}

section {
    overflow: auto;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 3em;
    left: 22em;
    color: white;
    border: solid 10px rgba(0, 0, 0, 0.288);
    width: 40%;
    box-shadow: 0px 0px 5px grey;
    border-radius: 30px;
}

h2 {
    color: rgb(255, 233, 233);
}

#tftable {
    position: relative;
    left: 20px;

    color: #333333;
    width: 100%;

    border-width: 1px;
    border-color: #729ea5;
}

#tftable th {

    background-color: #acc8cc;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
    text-align: center;
}

#tftable tr {
    background-color: #056a774d;
}

#tftable td {

    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
}

#tftable tr:hover {
    background-color: #ffffff;
}

/*FOOTER*/

#enlace {
    color: blue;
}

footer {
    clear: both;
    right: 0px;
    padding: 10px;
    background-color: black;
    background-position: left;
    color: white;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}